<html lang ="en">

<head>
  <title>MEDREC</title>
  <meta charset = "utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="short description of this html page">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('static',filename = "style.css")}}">
</head>
<body class = "body">

  <center><h2>DOCTOR AVAILABILITY</h2></center><br><br>

  <center>
    <table border="1" cellpadding = "5" cellspacing = "5">
      <tr>
        <td><b><h5>    Doctor      </h5> </b></td>
        <td><b><h5>    Specialization      </h5> </b></td>
        <td><b><h5>    Available status      </h5> </b> </td>
        <td><b><h5>    Time     </h5> </b> </td>
  {% for emp in data4 %}
  <tr>
    <td>{{ emp['doctor'] }}</td></h4>
    <td>{{ emp['specialization'] }}</td></h4>
    <td>{{ emp ['status']  }}</td></h4>
    <td>{{ emp['time'] }}</td></h4>
  </tr>
  {% endfor %}

  </table>
  </center>


<div class = 'centered'>
<form method = 'POST'>
  NAME OF DOCTOR:<br>
  <input type="text" class = "form-control" name="naam">
  <br>
  DATE:<br>
  <input type="text" class = "form-control" name="date">
  <br>
  Time<br>
  <input type="text" class = "form-control" name="time">
  <br>

  <br>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name = "appoint" value = "appoint">MAKE APPOINTMENT </button>

</form>
<form action = "http://localhost:5000/patienthome" method = 'POST'>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name = "back" value = "back">BACK </button>
</form>

</div>
</body>
</html>