<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="menu">
            <div class="logo">
                <a href="#">MEDREC</a>
            </div>
            <ul >
                <li><a href="/">Home</a></li>
                <li><a href="{{url_for('about')}}">About</a></li>
                <li><a href="{{url_for('contact')}}">Contact</a></li>
            </ul>
        </div>
      </nav>

      <ul class="contact">
          <li><a href="mailto:devireddymanish@mechyd.ac.in" title="Email me">Contact through email</a></li>
          <br>
          <li><b>Contact:</b>+91-9653968521,9243-396847, 4321-347861</li>
      </ul>

</body>
</html>