<html lang ="en">

<head>
  <title>MEDICORD</title>
  <meta charset = "utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="short description of this html page">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for ('static' , filename='style.css')}}">
</head>

<body class = "body">

  <nav>
    <div class="menu">
        <div class="logo">
            <a href="#">MEDREC</a>
        </div>
        <ul >
            <li><a href="/">Home</a></li>
            <li><a href="{{url_for('about')}}">About</a></li>
            <li><a href="{{url_for('contact')}}">Contact</a></li>
        </ul>
    </div>
  </nav>
  <h2 class="heading"><center>WELCOME TO MEDREC</center></h2>
 <p class="desc">A portal where you can book appointments, check your medical history at the comfort of your hands</p>
    <form action="http://localhost:5000/patient" method = 'POST'>
      <div class = "patient">
        <button class="btn btn-outline-success my-2 my-sm-0" name = "PATIENT" value = 'PATIENT' type="submit">Login/Signup</button>
      </div>
    </form>

    <p class="doc">Doctor?</p>
    <form action="http://localhost:5000/login" method="POST">
    <div class="foot">
      
        <button class="btn btn-outline-success btn-sm" name = "DOCTOR" value = "DOCTOR" type="submit" >Login</button>
      </form>
    </div>
</body>
</html>