<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEDIREC</title>
</head>
<body>
    <nav>
        <div class="menu">
            <div class="logo">
                <a href="#">MEDREC</a>
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="About">About</a></li>
                <li><a href="Contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="body">
        <h2>Welcome to MedRec</h2>
        
        <form action = "http://localhost:5000/home" method="GET">
            <div class="signup">
                <button class="btn btn-outline-success my-2 my-sm-0" name = "DOCTOR" value = 'DOCTOR' type="submit" >Login/Signup</button>
            </div>
        </form>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet tenetur repudiandae ducimus quo harum animi sint iure, veritatis repellat, velit quod magnam! Veniam voluptates maiores iste quia laboriosam ipsam dolores.</p>

        </form>
    </div>
    <div class="doctor">
        <form method="POST">
            <div class="login">
                <button class="btn btn-outline-success my-2 my-sm-0" name = "PATIENT" value = "PATIENT" type="submit" >Login</button>
            </div>
    </div>
     
</body>
</html>